{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-full display flex justify-center items-center text-white flex-wrap relative">
        {% if error %}
            <div class="absolute top-0">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
            <form method="post">
                <div class="w-full flex justify-center items-center flex-wrap">
                    <h1 class="w-full text-center font-bold text-2xl m-5">Se connecter</h1>
                    <div class="w-full text-center flex justify-center items-center mb-3">
                        <div class="bg-gray-800 border border-black border-opacity-25 flex justify-center items-center h-10 rounded">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="ml-2 bg-transparent h-5 focus:outline-none"
                                   required
                                   autofocus placeholder="email@gmail.com">
                        </div>
                    </div>
                    <div class="w-full text-center flex justify-center items-center mb-3">
                        <div class="bg-gray-800 border border-black border-opacity-25 flex justify-center items-center h-10 rounded">
                            <input type="password" name="password" id="inputPassword"
                                   class="ml-2 bg-transparent h-5 focus:outline-none" required
                                   placeholder="password">
                        </div>
                    </div>

                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="w-full text-center flex justify-center items-center mt-3">
                    <button class="bg-bcc-green p-3 w-32 justify-center items-center text-center text-xs text-white rounded shadow"
                            type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
    </div>
{% endblock %}
