.w-150px{
    width:150px;
}

.bg-image {
    background-size: cover;
    background-position: center;
}
.backdrop {
    backdrop-filter: blur(5px);
}
.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#fuzzy_search_getNom{
    display:block !important;
}