#categorySelect{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    text-align: center;
    text-align-last: center;
}
#categorySelect option{
    text-align: left;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}