{% extends 'base.html.twig' %}
{% block body %}
    <div class="w-full flex justify-center text-white">
        <h1 class="text-center text-xl font-bold w-full">Bid Card Coin !</h1>
    </div>

    <div class="w-full flex justify-center text-white">
        <h1 class="text-start text-xl font-bold w-full ml-5 border-b">Plus tard !</h1>
    </div>
    {{ include('accueil/_liste_fuzzy.html.twig') }}

    {{ include('filter/_filterLots.html.twig') }}
{% endblock %}
