{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center text-white w-full">
        <h1 class="text-2xl font-bold  w-full mb-5">Enchere CRUD [create]</h1>
        {{ include('enchere/_form.html.twig') }}
    </div>
{% endblock %}